body {margin: 0;padding: 0;font-family: 'Nunito', sans-serif;}
h1 {font-size: 35px;}

.about {
    padding: 90px 25px 7px 25px;
}
.about h1 {
    margin-top: 0;
}
.profile-pic {
    background-color: #343a40;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    border: 3px solid #343a40;
    text-align: center;
    background-size: cover;
    z-index: 1;
    margin-bottom: 25px;
}
.image {
    background: url('profile.jpg') center center no-repeat;
    background-size: cover;
    height: 323px; 
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    /* border-bottom: 3px solid #000; */
}
.profile-pic p {
    padding-top: 280px;
    margin: 0;
    font-size: 25px;
}
.profile-pic button {
    background-color: transparent;
    border: none;
    border: 3px solid #f1f1f1;
    color: #f1f1f1;
    padding: 7px 10px;
    margin: 25px 0;
    width: 170px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s;
}

.profile-head, .profile-main {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 7px;
    /* background-color: #343a40; */
    /* color: #f1f1f1; */
    /* border: 3px solid #343a40; */
    padding: 25px 25px 9px 25px;
    margin-bottom: 25px;
}

.profile-head h2, .profile-main h2 {
    margin: 0;
    border-bottom: 3px solid #343a40;
}

.footer {
    width: 100%;
    background-color: #343a40;
    height: 250px;
}

@media (min-width: 426px) {
    .profile-pic {
        max-width: 375px;
        margin: auto;
        margin-bottom: 25px;
    }
}

@media only screen and (min-width: 769px) {
    .about {
        padding: 105px 30px 30px 30px;
        max-width: 825px;
        margin: auto;
        display: grid;
        grid-template-columns: 375px 1fr 1fr;
        grid-template-rows: 410px 1fr 1fr;
        grid-gap: 30px;
        grid-template-areas:
        "profile header header"
        "main main main"
        "main main main";
    }
    .profile-pic {
        grid-area: profile;
        margin: 0;
    }
    .profile-head {
        height: 250px;
        grid-area: header;
        margin-bottom: 0;
    }
    .profile-main {
        grid-area: main;
        margin-bottom: 0;
    }
    .profile-pic button {
        border-color: transparent; 
    }
    .profile-pic button:hover {
        border-color: #f1f1f1;
    }
}

@media only screen and (min-width: 1025px) {
    .about {
        padding: 120px 30px 30px 30px;
    }
}

@media only screen and (min-width: 1170px) {
    .about {
        padding: 120px 0 30px 0;
        max-width: 1170px;
        margin: auto;
    }
}